# Ignore build artifacts from the local tests sub-crate.
/deployer/target/

# Ignore backup files creates by cargo fmt.
/deployer/**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
/deployer/Cargo.lock
chatgpt-plugin/.env
